%h1 Clients list
%ul
  - @clients.each do |client|
    %li
      = link_to client.name, client
      = link_to 'x', client, method: :delete, data: { confirm: 'are you sure?' }

= link_to 'add client', new_client_url
