%h1= @client.name

= link_to 'edit', edit_client_url(@client)
%br
= link_to 'back to index', clients_url

%h2 Cameras
%ul
  - @client.cameras.each do |camera|
    %li= link_to camera.name, camera

%h2 Subscribers
%ul
  - @client.cameras.map(&:subscribers).flatten.uniq.each do |subscriber|
    %li= subscriber.name
